{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>india</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    
</head>
<body>
    <div>
    <a href="">Home</a>
    <a href="">WatchLive</a>
    <a href="">About us</a>
    <a href="">Contact us</a>
    <a href="">Help</a>
    </div>
    <center>
        <h1>TEAM INDIA</h1>
        <p>Lorem ipsum <pre>dolor</pre> sit amet <ins>consectetur</ins> <b>adipisicing</b> elit. <address>Aliquam</address> ut <del>error</del>, 
        <strong>repudiandae</strong> <s>dolorem</s> hic <u>itaque</u> <i>inventore</i> sit quae illo <mark>rerum ad eum</mark> <strike>maiores</strike>
        atque <em>totam</em> <sub>consequuntur</sub> officiis <sup>necessitatibus</sup> quo <address>Aliquam</address>.</p>
    </center>
    <img src="{% static 'images/kohli.jpg' %}" alt="kohli" height="300px" width="300px" align="left">
    <img src="{% static 'images/jadeja.jpeg' %}" alt="jadeja" height="300px" width="300px" align="right">
</body>
</html>